@model ScalemodelWorld.Web.ViewModels.Scalemodels.ListAvailableViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Purchased scalemodels</h1>
<hr class="bg-dark" style="height: 2px" />
<div class="d-flex justify-content-between">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-5 d-flex justify-content-center"><h3>Name</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Scale</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>FactoryNumber</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Price</h3></th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center"><h3>Actions</h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var available in @Model.AllAvailable)
            {
                <tr class="row">
                    <th scope="row" class="col-lg-5 d-flex justify-content-center"><h5>@available.Name</h5></th>
                    <td class="col-lg-2 d-flex justify-content-center"><h5>$@available.Price</h5></td>
                    <td class="col-lg-2 d-flex justify-content-center"><h5>@available.FactoryNumber</h5></td>
                    <td class="col-lg-2 d-flex justify-content-center"><h5>@available.DateOfPurchase</h5></td>
                    <td class="col-lg-1 d-flex justify-content-center">
                        <a href="/ship" class="btn bg-panda text-white">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
