@{
    ViewData["Title"] = "About";
}
@model ScalemodelWorld.Web.ViewModels.AboutViewModel
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>This application is a tool for helping scale modellers organize their hobby. </p>
<li><a href="https://www.canva.com/learn/unique-inspiring-about-page/">50 unique and engaging about us pages to inspire you</a></li>
<li><a href="https://www.blogmarketingacademy.com/great-about-pages/">7 Strategies For The Perfect About Page (With Template and Examples)</a></li>
<li><a href="https://en.wikipedia.org/wiki/Scale_model">ScaleModel Wikipedia</a></li>
<li><a href="https://www.airfix.com/uk-en/about">About Airfix</a></li>
<div class="form-group">
    <label asp-for="Name">Full Name</label>
    <input asp-for="Name" class="form-control" placeholder="Full Name..." />
</div>