@{
    ViewData["Title"] = "About";
}
@model ScalemodelWorld.Web.ViewModels.AboutViewModel
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>This application is a tool for helping scale modellers organize their hobby. </p>
<li><a href="https://en.wikipedia.org/wiki/Scale_model">ScaleModel Wikipedia</a></li>
<li><a href="https://www.airfix.com/uk-en/about">About Airfix</a></li>
<h1>A Beginner’s Guide to Model Building</h1>
<div>
    <p>
        So you want to build something with your own two hands, but you've grown tired of bricks and blocks.
        Perhaps it’s time to try the incredibly rewarding hobby of model building. This handy guide will go over some of the most common questions about models and
        will help you pick out your first kit and supplies. If you're ready to start a new hobby, read on.
    </p>
</div>
<h3>What Are Model Kits?</h3>
<div>
    <p>
        The defining characteristic of model kits is that they come in several small pieces that need to be assembled to make the final product.
        The kits we sell at Hobby and Toy Central come in a variety of materials, including plastics, metal, and wood (usually balsa wood). Depending on the material,
        you may be putting the model together using glue, screws, small nails, or a combination of the three. Most model kits will also require some painting to complete so they appear like they do on the box.
    </p>
    <p>
        I'll be talking about plastic model kits and what you need to complete them. The most common kits found moulded in plastic make scale models of cars and trucks,
        military vehicles and figures, ships and boats, and aircraft.
    </p>
</div>
<h3>What Is Scale All About?</h3>
<div>
    <p>
        The model kits we carry come in numerous scales, ranging from 1:10 to 1:2500, and we're asked to explain scale all the time. Basically, the scale tells you
        how much a model has been shrunk relative to the size of the original. The two numbers are a ratio: telling you how many units on the real thing are equal to
        one unit on the model. If a model were 1:1, that means that one foot on the model is equal to one foot on the original, so in this case the model would be
        full-size. The further the second number gets from 1, the smaller the model kit is compared to the original.If a model were 1:10 that means that it is one
        tenth the size of the original. To put it another way, if your 1:10 scale model is one foot long, the real thing is ten feet long.
    </p>
    <p>
        Most categories of models have a range of common scales that make the type of model manageable for the average person both to complete and display.  For car
        models, the most common scale is 1:24; for military models, either 1:35 or 1:48; for aircraft, 1:32, 1:48, or 1:72.  Sometimes we see very large commercial
        jets at 1:144, but this is uncommon with smaller planes.  Ship models are unique because the originals are so large.  Common scales include 1:72, 1:350, and
        1:720, but you will often find many strange scales in between.
    </p>
</div>
<h3>What Do the Skill Levels Mean?</h3>
<div>
    <p>
        Model kits generally come in one of five skill levels that represent how difficult it will be to complete:

        <h4>Skill Level 1:</h4> Snap-together pieces and do not require glue or paint.

        <h4>Skill Level 2:</h4> Easier kits that require glue and paint to complete. They usually have less than 100 pieces.

        <h4>Skill Level 3:</h4> Smaller, more detailed parts. They usually have over 100 pieces.

        <h4>Skill Level 4:</h4> Advanced kits with extra-fine details. They most certainly contain over 100 pieces.

        <h4>Skill Level 5:</h4> For expert modellers. They have super-detailed parts, can contain hundreds of pieces, and often have moving parts, like working suspension
        on cars and motorcycles, rotating propellers on planes, and movable turrets on tanks.
    </p>
    <p>
        There are a few exceptions to this breakdown. All model kits made by Airfix require glue and paint, so their level 1 is really a level 2. Sometimes, you'll find a kit
        that does not have a skill level listed. In these cases, you can safely assume that it is at least a level-4 kit.
    </p>
</div>
<h3>What Do I Need to Get Started?</h3>
<div>
    <p>
        The first questions we always ask our customers when they are buying their first model is their age and what kind of experience they have with other types of
        "building" products. If the new modeller is under ten, we often suggest that they start at skill-level-1, snap-together kit. These kits only require a knife and file
        to complete, so they are perfect for a junior modeller. We may also suggest a snap kit to children over ten who have had little experience with building toys. For
        anybody over ten, we typically recommend starting with a level-2 model kit. These kits require glue and paint to complete, but are still easy enough that the finished
        model will be something to be proud of.
    </p>
    <div class="row pt-5">
        <div class="col-md-11">
            <p>
                Sprues
                <br />
                Regardless of skill level, there are two tools that you will definitely need. The first is a good, sharp hobby knife for removing the pieces from the sprues
                (the plastic frames that hold the individual pieces). The second is a small file to smooth away the nubs and any imperfections. We often recommend that a first-time
                modeller simply use an old emery board for this purpose, but we also have metal files on hand if you prefer.
            </p>
        </div>
        <div class="col float-md-right">
            <img class="img-fluid d-flex justify-content-center rounded float-right" style="width: 120px; height: 90px;" alt="Responsive image"
                 src="https://hobbyandtoycentral.com/sites/default/files/field/image/blog_post/sprue.jpg" />
        </div>
    </div>
</div>
<h3>What about Glue and Paint?</h3>
<div>
    <p>
        The first questions we always ask our customers when they are buying their first model is their age and what kind of experience they have with other types of
        "building" products. If the new modeller is under ten, we often suggest that they start at skill-level-1, snap-together kit. These kits only require a knife and file
        to complete, so they are perfect for a junior modeller. We may also suggest a snap kit to children over ten who have had little experience with building toys. For
        anybody over ten, we typically recommend starting with a level-2 model kit. These kits require glue and paint to complete, but are still easy enough that the finished
        model will be something to be proud of.
    </p>
    <div class="row pt-5">
        <div class="col float-md-right">
            <img class="img-fluid d-flex justify-content-center rounded float-right" style="width: 120px; height: 90px;" alt="Responsive image"
                 src="https://hobbyandtoycentral.com/sites/default/files/field/image/blog_post/cement.jpg" />
        </div>
        <div class="col-md-11">
            <p>
                Plastic model kits are made out of a soft plastic that is easily bonded with chemical glues called plastic cements. These glues bond the plastic
                together by "melting" the edge of the plastic and melding them together to form new seams. Sometimes these seams are not perfect and require a little
                bit of modeler's putty to fill gaps, but this is fairly rare. Modelling cements come in two main forms: paste and liquid. We usually recommend paste for
                first-time modellers. Modelling cement paste comes in standard and non-toxic versions. The latter is lighter on the smelly fumes, but takes about 50%
                longer to cure.
            </p>
        </div>
        <div>
            <p>
                Kits over level 1 are usually moulded in white or grey and require a variety of paint colours to complete. The average kit will include a list of 5-10
                paint colours that you'll need to make the finished model look just like the picture on the box. The list can be a little overwhelming for beginners. For
                example, sometimes you'll find kits that suggest using both gloss silver and flat aluminum (which are basically the same colour). For a first-timer, we
                often recommend ways to cut down on large paint lists and still finish with a nice-looking model.
            </p>
        </div>
        <div class="col-md-10">
            <p>
                At Hobby and Toy Central, we carry two types of paint under three different brands. From Testors and Model Master we sell enamel paints. These are
                oil-based and require paint thinners to correct mistakes and clean brushes; as such we recommend them to more advanced modelers. We also carry a line of
                acrylic paints from Tamiya. While wet, these paints are water-soluble and can easily be cleaned with soapy water. Because they are a little easier to use
                and clean up, these are the paints we recommend most to first-time modellers. Tamiya's acrylics are great paints with a large pallet, and there are many
                expert modellers who enjoy them as well.
            </p>
        </div>
        <div class="float-md-left">
            <img class="img-fluid d-flex justify-content-center rounded float-right" style="width: 120px; height: 90px;" alt="Responsive image"
                 src="https://hobbyandtoycentral.com/sites/default/files/field/image/blog_post/modelmaster_a.jpg" />
        </div>
    </div>
</div>
<h3>Paint First, or Glue First?</h3>
<div>
    <p>
        Every new modeller asks us this question. While there is no simple answer, I personally often bow to logic for this one. With a bit of thinking ahead, it is
        often clear when and what you should paint first and glue second, or vice versa. Let’s say you’re putting together a model car. Would you want to paint the seats
        and dashboard after you install the roof and body? Probably not. When in doubt, read through the instructions; they often suggest the order there.
    </p>
</div>
<h3>Off to Do Your First Kit!</h3>
<div>
    <p>
        With this new knowledge, we hope you'll feel comfortable choosing your first model and the accessories you'll need to complete it. And, as always, our team is nearby 
        if you require some assistance when you come to visit. Now, you just have to decide if you like that 1960s muscle car or that WWII fighter plane best…
    </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; Decisions, decisions.</p>
</div>