@if (User.IsInRole("Admin"))
{
    <h1 class="text-center text-panda">Hello, Administrator User.Username!</h1>
}
else
{
<h1 class="text-center text-panda">Hello, User.Username!</h1>
}

@model ScalemodelWorld.Web.ViewModels.Home.LoggedInIndexViewModel

<hr class="bg-panda hr-2" />
<div class="mx-auto row">
    <div class="col-md-4">
        <h2 class="text-center">Started</h2>
        <div class="border-panda col-lg-9">
            @for(var i = 0; i < Model.Started.Count(); i++)
            {
                { var startedModel = Model.Started.ToList()[i]; }
                <p>
                    <span class="text-center">startedModel.Name</span> <span><a class="btn bg-panda text-white float-right" href="/Packages/Details?id=availableModel.Id">Details</a></span>
                </p>
            }
        </div>
    </div>
   
</div>