@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>How will we use the information about you</h2>

<h3>We may process the information we collect about you:</h3>
<p>for the administration purposses. This includes contacting you to provide you with information you have requested about these activities and notifying you of any changes in respect of these. The information we may 
    process for these purposes includes your name, address, email address, phone number. As outlined above this information may be collected from you in various ways including but not limited to membership agreements, 
    licence agreements, correspondence you send to us, telephone calls you make to us or through any website contact forms. 
<<p>to respond to any communication that you send to us. This information may be collected from any correspondence you send to us, telephone calls you make to us, or through any website contact forms. This information 
    includes your name, address, email address and phone number, date of birth and may be processed by us for the purposes of responding to you and keeping record of those communications. This processing is 
    necessary for the administration of our business and the provision of our services, which is necessary for the legitimate interests of our business;</p>
<h3>We do not sell any of your personal data. To be able to provide our services to you and to run our business, we share data with third parties from the following categories:</h3>
<p>Third parties, which are involved in processing purchases, e.g. web shop systems, payment service providers, manifacturers, warehouses, order packers, logistics companies, etc.</p>
<p>Third parties, which provide proffesional services to us, e.g. advertising partners, marketing agancies, business consultants, web hosting providers, etc.</p>
<p>Law enforcement and other government authorities, e.g. tax offices and customs</p>