@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4">
    <h1 class="text-center">Anelia - Milo moe</h1>
    <hr class="hr-2 bg-dark" />
    <div class="title-holder">
        <h2>Anelia - Milo moe</h2>
    </div>
    <hr class="hr-2 bg-dark w-50" />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vijnF2Ij_uI" allowfullscreen></iframe>
    </div>
</div>

<hr class="h-100" />
<hr class="h2" />
<hr class="hr-2" />
<hr class="h5" />
<hr class="h1" />
<hr class="h1" />
<hr class="h1" />
<hr class="h1" />
<hr class="h1" />
<hr class="h1" />