<div class="mt-4">
    <h1 class="text-center">Anelia - Milo moe</h1>
    <hr class="bg-dark" />
    <div class="card-title">
        <h2>Anelia - Milo moe</h2>
    </div>
    <hr class="bg-dark w-50" style="height: 3px" />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vijnF2Ij_uI" allowfullscreen></iframe>
    </div>
</div>

<hr class="h-100" />
<hr class="h2" />
<hr class="bg-dark w-50" style="height: 8px" />
<hr class="bg-dark w-50" style="height: 7px" />
<hr class="bg-dark w-50" style="height: 6px" />
<hr class="bg-dark w-50" style="height: 5px" />
<hr class="bg-dark w-50" style="height: 4px" />
<hr class="bg-dark w-50" style="height: 3px" />
<hr class="bg-dark w-50" style="height: 2px" />
