@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Modelshows your club has participated in</h1>
</div>
<div>
    <h1>Modelshows you were participating</h1>
</div>
<div>
    <h1>Future events</h1>
</div>