@using ScalemodelWorld.Common.Scalemodels.BindingModels
@model StartedScalemodelBindingModel
<p>Partial View CHECKOUT</p>
<p>@Model.Name</p>
<p>@Html.Partial("Partial", new StartedScalemodelBindingModel())</p>